@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");

body {
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  margin: auto;
  height: 100%;
  width: 100%;
  background-attachment: fixed;
}

.word {
  font-size: 2rem;
  color: white;
  font-weight: bold;
  // border: solid 5px pink;
  width: 100%;
  margin-left: 25rem;
  font-family: 'Shadows Into Light', cursive;
}

.designer {
  color: white;
  position: absolute;
  left: 90%;
  bottom: 0px;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  font-family: "Indie Flower", cursive;
}

.container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  height: 100vh;
  width: 100vw;
  // border: white solid 5px;
}

.child-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 30rem;
  width: 40rem;
  margin-right: 15rem;
  // border: red solid 5px;
}